server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://172.16.21.54:3306/bsw_db_dev_job?characterEncoding=UTF-8&useUnicode=true&useSSL=false&tinyInt1isBit=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai&allowMultiQueries=true&rewriteBatchedStatements=true
    username: bsw
    password: 12345
    driver-class-name: com.mysql.cj.jdbc.Driver

xxl:
  job:
    admin:
      addresses: http://localhost:8080/xxl-job-admin
    executor:
      appname: xxl-job-executor
      ip: 127.0.0.1
      port: 9998
      logpath: ./data/applogs/xxl-job/jobhandler
      logretentiondays: 30
      accessToken: default_token
